.header, .jumbotron {
    text-align: center;
    background-color: blueviolet;
}

#placeName, h1 {
    color: #fddc4a;
    padding-bottom: 15px;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}